In [6]:
import qrcode

user_info = {'https://www.youtube.com'}
img = qrcode.make(user_info)
type(img)  # qrcode.image.pil.PilImage
img.save("some_file.png")

In [10]:
import pandas as pd

df = pd.read_csv('../../PersonasAllowed.csv',delimiter=';')

In [11]:
df

      Nombre   Apellido          Rut
0  Persona 1  Apellido 1  19957668-2
1  Persona 2  Apellido 2  10658914-3
2  Persona 3  Apellido 3  12486610-3

In [12]:
import streamlit_authenticator as stauth
hashed_passwords = stauth.Hasher(['admin890']).generate()

In [13]:
hashed_passwords

['$2b$12$5VeOuu/QQGFSd25IyrrzIeBCCzCJFmKroPaXSF/BjajWomM4b5DBC']